/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Fonte geral */
  body {
    font-family: Arial, sans-serif;
    background-color: #ff5500;
    color: #000000;
    line-height: 1.6;
    background-image: url(imagens/fundo02.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Cabeçalho */
  header {
    width: 100%;
    background-size: cover;
    background-image: url(imagens/fundo02.jpeg);
    background-position: center;
    text-align: center;
  }
  
  .navbar-brand{
    width: 100px;
    height: 100px;
    /* border-radius: 100%; */
    
  }

  header h1 {
    font-size: 2em;
    color: #000000;
  }
  
  /* Menu de navegação */
  nav ul {
    list-style: none;
    margin-top: 10px;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #4c2a2a;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #000;
  }
  
  /* Conteúdo principal */
  /* main {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
  } */
  
  /* Seções */
  section {
    margin-bottom: 50px;
  }
  
  section .textos h2 {
    color: #000000;
    margin-bottom: 10px;
    
  }

  #inicio{
    /* margin: 5rem; */
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;
  }

  .sobreht{
    padding: 2rem;
    /* width: 20%; */
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .perfil {
    display: flex;
    justify-self: center;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
  }

  .foto-perfil {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    object-fit: cover;
    border: 4px solid #d26c6c;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  
  /* Rodapé */
  footer {
    background-color: #f09e9e;
    color: #000000;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
  }

  .imagens{
    img{
      height:350px;
      margin:0 22px;
    }
  }

    .imagensprojetos{
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
    }

    .carouselimagens{
      width: 80vw;
    }

    .carousel-inner{
      display: flex;
      width: 100% !important;
      /* align-items: center !important; */
      height: 500px;
    }

    .carousel-item img{
      width: 100%;
      height: 500px;
      object-fit: contain;
    }

    .nav-contato{
      display: block;
      padding: 0.5rem 0;
      text-decoration: none;
      border: 0;
      background-color: #d45582 !important;
      border-radius: 20%;
      transition: ease-in-out 0.3s;
      padding: 10px;
      width: fit-content;
      justify-self: center;
    }

    .nav-contato:hover{
      background-color:(231, 159, 213) ;
      transform: scale(1.1);
    }

    .contatobtn{
      padding: 0.5rem 0;
      text-decoration: none;
      border: 0;
      background-color: #d45582 !important;
      color: rgb(0, 0, 0);
      border-radius: 20%;
      transition: ease-in-out 0.3s;
      padding: 15px;
      width: fit-content ;
      font-weight: bold;
      display: block;
    }

    .contatobtn:hover{
      background-color:#d45582;
      transform: scale(1.1);
    }
    .textos{
      padding: 15px;
    }
      .comission{
        padding: 15px;
      }